# Виртуальное окружение (актуально для вашей папки .venv)
.venv/
venv/
ENV/

# Кэш Python
**/__pycache__/
*.pyc
*.pyo
*.pyd
*.spec
*.exe
# Настройки VS Code
.vscode/
web.html
# Файлы окружения с секретами и ключами (если появятся)
.env